// Resizing tables in the view.
.block-system-main-block {
//  grid-column: 1 / 13;

  .views-table {
    width: 100%;

    tbody {
      tr {
        .views-field {
          p {
            margin: 0 !important;
          }
        }
      }
    }
  }
}

//
.block-field-blocknodevacation-requestfield-vacation-reason {
  .field--name-field-vacation-reason {
    font-family: "metropolis", sans-serif;
    font-size: 16px;
    line-height: var(--sp1-5);

    .field__item {
      p {
        padding: 0 15px;
      }
    }
  }
}
